.CurrentSlideHeader {
  font-size: 24pt;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px;
  vertical-align: middle;
  min-width: 180px;
  text-align: center;
}
